html, body {
    margin: 0;
    padding: 0;
    --cover-image-width: 310px;
    --post-card-padding: 10px;
    --post-card-minwidth: calc(var(--cover-image-width) + var(--post-card-padding) + var(--post-card-padding));
    --sidebar-gap: 10px;
}

header {
    display:grid;
    grid-template-columns: 0.25fr 1fr;
    gap: 10px;
    align-items: center;

    min-height: 100px;
    color: white;

    padding: 0 1em;

    background-color: black;
    background-image: url(../images/aditya-chinchure-2yN10KHNTzM-unsplash-resized.jpg);
    background-attachment: scroll;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto;
}

header ul.nav {
    padding: 0;
    margin: 0;
}

header .nav li {
    list-style: none;
    margin: 0;

    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    line-height: 2em;
    background-color: rgba(25%, 25%, 25%, 80%);
    border-radius: 10%;
    padding: 0 2em;
}

header .nav li:hover {
    background-color: rgba(35%, 35%, 35%, 90%);
}

header .nav li a {
    display: inline-block;
}

header .nav a:link, header .nav a:visited {
    color: white;
    font-size: 2em;
    text-decoration: none;
}

header .nav {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
    grid-gap:10px;
    align-items: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-gap);
}

.main > :last-child {
  flex-basis: 250px;
  flex-grow: 1;
}

.main > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
  max-width: 100vw;
}


.main .sidebar {
    box-sizing: border-box;
    color: #f39c12;
    background-color: black;
    padding: 0 15px;
    max-width: 250px;
}

.main .sidebar .profile-image {
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.main .sidebar a:link, .main .sidebar a:visited {
    color: white;
}

.card-list {
    display: grid;
    justify-content: space-between;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(var(--post-card-minwidth) , 1fr));
}

.post-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: var(--post-card-padding);
    min-width: var(--post-card-minwidth);
}

.post-card .cover-image {
    width: --cover-image-width;
    height: 200px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.post-card .date {
    text-align: center;
    font-size: 0.8rem;
}

.post-card .title {
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
    font-size: 2.5rem;
}

.post-card .title a {
    color: inherit;
    text-decoration: none;
}

.post-card .excerpt {
    font-size: 1.3rem;
    line-height: 1.55em;
}

.btn {
    margin-top: auto;
    text-align: center;

	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}

.btn:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}

.btn:active {
	position:relative;
	top:1px;
}

#page {
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}

#page .cover-image {
    background-color: red;
    width: 800px;
    height: 200px;
    border-radius: 0px;
    display: block;
}

#page .gatsby-highlight {
    max-width: 70vw;
}

#page ul.navigate {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#page ul.navigate li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#page ul.navigate li a {
    display: inline-block;
    padding: 8px 16px;
}

#page ul.navigate .previous a {
    display: block;
    text-align: left;
}

#page ul.navigate .home a {
    display: block;
    text-align: center;
}

#page ul.navigate .next a {
    display: block;
    text-align: right;
}

.post-tag-container {
    display: block;
    margin: 0;
    padding: 0;
}

.post-tag-container li {
    display: inline;
    margin: 0 5px;
    list-style: none;
}

#page .tags {
    text-align: center;
}

#page .tags li {
    display: inline;
    margin: 5px;
    list-style: none;
}

#page .links {
    margin: 0;
    padding: 0;
}

#page .links li {
    list-style: none;
}

#page .item-block {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}
